html {
  font-size: 14px;
}

h1 {
  font-size: 2em;
}
 h2, h3, h4, h5 {
   font-size: 1.4em;
 }
 h2 {
   text-align: center;
 }

.width-box {
  width: 95%;
  margin: auto;
}
.width-box-80 {
  width: 80%;
  margin: auto;
}

header {
  color: white;
}
#header-top {
  background-color: #212529;
}
#header-bottom {
  background-color: #11C2AB;
  text-align: center;
}

#header-list li {
  text-decoration: none;
  display: inline-block;
  padding-left: 20px;
  line-height: 50px;
}

.container {
  margin: 25px auto;
}

#house {
  background-color: purple;
  height: 150px;
}

#cake {
  background-color: lightblue;
  height: 150px;
}

#circus {
  background-color: black;
  height: 150px;
}

#joypad {
  background-color: lightblue;
  height: 150px;
}

#safe {
  background-color: blue;
  height: 150px;
}

#submarine {
  background-color: pink;
  height: 150px;
}

.border-radius {
  border-radius: 5px;
}

#main-mid-box {
  background-color: #11C2AB;
}

footer {
  color: white;
}
#footer-top {
  background-color: #2D3E50;
  text-align: center;
}
#footer-bottom {
  height: 50px;
  background-color: #212529;
  text-align: center;
}

@media screen and (max-width: 767px) {

  #header-list li {
    display: none;
  }
}

@media screen and (min-width: 768px) {

  i.fa-bars {
    display: none;
  }
}
