
header {
  color: white;
}
#header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #2C3E50;
  z-index: 10;
  line-height: 80px;
}

.icon_menu {
  font-size: 20px;
  color: gray;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

.my_list li:hover {
  color: #1ABC9C;
}

#header_bottom {
  width: 100%;
  background-color: #1ABC9C;
  margin-top: 80px;
}
#header_bottom img {
  width: 250px;
  margin-top: 80px;
}

.mg_tp {
  margin-top: 30px;
}

.divider_line {
  display: inline-block;
  vertical-align: middle;
}
.white_line {
  background-color: white;
  width: 100%;
  max-width: 7rem;
  height: 5px;
  border-radius: 2px;
}
.fa-star {
  font-size: 30px;
}
.separe_icon .divider_line:first-child {
  margin-right: 10px;
}
.separe_icon .divider_line:last-child {
  margin-left: 10px;
}
#header_bottom h1 {
  font-size: 60px;
}
#header_bottom p {
  font-size: 25px;
  padding-bottom: 100px;
}

.box_image {
  background-color: red;
  margin-bottom: 30px;
}
.box_image img {
  width: 100%;
  border-radius: 5px;
}
#main_top {
  color: #2C3E50;
}
.blue_line {
  background-color: #2C3E50;
}
#main_top .separe_icon {
  margin-bottom: 30px;
}

#main_mid {
  /* height: 400px; */
  background-color: #1ABC9C;
  color: white;
}

.wrapper_60 {
  width: 60%;
  margin: auto;
}

@media screen and (max-width: 762px) {

  textarea {
    width: 200px;
  }
}


.btn_green {
  background-color: #1ABC9C;
  border: 2px solid white;
  color: white;
}

.input_brd_blk {
  display: block;
  border: 0px;
}

#send_green {
  background-color: #1ABC9C;
  color: white;
  font-size: 25px;
}

#footer_top {
  /* height: 300px; */
  background-color: #2C3E50;
  color: white;
  vertical-align: middle;
}

.fab {
  width: 47px;
  height: 47px;
  font-size: 25px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 5px;
}

#footer_top p > span {
  color: #1ABC9C;
}

/* .footer_mg_tp {
  margin-top: 20%;
} */

#footer_bottom {
  height: 80px;
  background-color: #1A252F;
  color: white;
}
#footer_bottom span {
  line-height: 80px;
}
